/bajnoksag (1).csv
/dolgozat0220
/elemek.txt
/felfedezesek.csv
/gyogynovenyek.txt
/hotel.txt
/jarmu.txt
/konyvek.txt
/korcsolya.csv
/novenyek.txt
/player.txt
/python
/szavak (1).txt
/szavak.txt
/veradok.txt
/web
/zfk.txt